#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
position: fixed;
z-index:1000;
}
.dropdown{
  margin-left: 8px;
  margin-bottom: 5px;
}
.iicon{
position: absolute;
padding-top: 12px;
margin-left: 220px;
border: none;
background-color: white;
}
.iiicon{
font-size: 22px;
}
.box {
display: block;
width: 300px;
height: 200px;
margin: 10px;
background-color: white;
border-radius: 5px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
overflow: hidden;
}
.fa-plus-square{
color: #231E39;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}
.header{
  width: 100%;
  position: fixed;
  z-index:1000;
}

body{
background-color: #ffffff;
}
.card-container {
  border-radius: 20px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  color: #B3B8CD;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 100%;
  text-align: center;
}
.card-container .pro {
  color: #231E39;
  background-color: #FEBB0B;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.card-container .round {
border: 1px solid #03BFCB;
border-radius: 50%;
padding: 7px;
}
.bbg1{
font-family: cursive;
}
@media (max-width: 426px) {
  .selectcss{
      font-size: 13px;
  }
  .card-container{
    width: 375px;
  }
  .sec{
    margin-left: 20px;
    width: 90%;
  }
}


@media (min-width: 1280px) {
  .inp{
  margin-left: 105px;
  width: 500px;
  }
  .contain {
  width: 1200px;
  margin: 0 auto;
  }
  .sel{
      margin-left: 0px;
  }
  .selectcss{
      width: 500px;
      margin-left: -5px;
  }
  .selectcss1{
      margin-left: 40px;
  }
  .selectcss2{
      margin-right: 30px;
  }
  .uul{
      margin-left: 100px;
  }
}
#wrapper {
overflow-x: hidden;
}

/ variables
$base-color: cadetblue;
$base-font: 'Raleway', sans-serif;

.wrapper{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

.box {
display: block;
min-width: 300px;
height: 480px;
background-color: #ff9f24;
border-radius: 5px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
overflow: hidden;
}

.upload-options {
position: relative;
margin-top: 10px;
height: 50px;
background-color: $base-color;
cursor: pointer;
overflow: hidden;
text-align: center;
transition: background-color ease-in-out 150ms;
&:hover {
  background-color: lighten($base-color, 10%);
}
& input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  display: none;
}
& label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  &::after {
    content: 'add'; 
    font-family: 'Material Icons';
    position: absolute;
    font-size: 2.5rem;
    color: rgba(230, 230, 230, 1);
    top: calc(50% - 2.5rem);
    left: calc(50% - 1.25rem);
    z-index: 0;
  }
  & span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    &:hover i.material-icons {
      color: lightgray;        
    }
  }
}
}


.js--image-preview {
height: 420px;
max-width: 100%;


position: relative;
overflow: hidden;
background-image: url('');
background-color: white;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
&::after {
  content: "photo_size_select_actual"; 
  font-family: 'Material Icons';
  position: relative;
  font-size: 4.5em;
  color: rgba(230, 230, 230, 1);
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}
&.js--no-default::after {
  display: none;
}
&:nth-child(2) {
  background-image: url('http://bastianandre.at/giphy.gif');
}
}
.sideit{
margin-left: 15px;
}