
/* STYLES SPECIFIC TO NAVBAR  */
.navbar{
    color: black;
    padding-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .dropdown-toggle::after{
    display: none;
  }
  
.fa-user{
    font-size:25px;color: black;
}

.dropdown-menu{
margin-top: 10px;
margin-left: -140px;
}
.fa{
    font-size: 20px;
  }
/* STYLES SPECIFIC TO FOOTER  */
.footer {
width: 100%;
position: relative;
height: auto;
background-color: #070617;
}
.footer .col {
width: 300px;
height: auto;
float: left;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 0px 20px 20px 20px;
}
.footer .col1 {
width: 500px;
height: auto;
float: left;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 0px 20px 20px 20px;
}
.footer .col h1 {
margin: 0;
padding: 0;
font-family: inherit;
font-size: 12px;
line-height: 17px;
padding: 20px 0px 5px 0px;
padding-right: 0px;
color: white;
font-weight: normal;
letter-spacing: 0.250em;
}
.footer .col ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.footer .col ul li {
color: white;
font-size: 14px;
font-family: inherit;
font-weight: bold;
padding: 5px 0px 5px 0px;
cursor: pointer;
transition: .2s;
-webkit-transition: .2s;
-moz-transition: .2s;
}
.social ul li {
display: inline-block;
padding-right: 5px !important;
}

.footer .col ul li:hover {
color: #ffffff;
transition: .1s;
-webkit-transition: .1s;
-moz-transition: .1s;
}
.icons{
    margin-right: 10px;
    color: white;
}
.clearfix {
clear: both;
}
.footer .col1{
padding: 0%;
}
h6{
font-weight: bold;
}
div.col{
padding-right: -20px;
}
.footer{
width: 100%;
}
.footer .col2{
padding-right: 0px;
margin-right: 0px;
}
@media screen and (max-width:769px) {
    .dropdown-menu{
        margin-top: 10px;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 950px) {
    .footer .col {
      width: 100%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
          width: 100%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
      .icons{
          padding-bottom: 20px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }