.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.imgnav{
width: 100px;
height: 50px;
}
.sm-last{
    margin-right: -10px;
}
.row2{
    margin-left: 10px;
    width: 98%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 50px;
    width: 50px;
}
.carousel-control-prev{
    color: crimson;
}
@media (min-width:1000px) {
    .carousel-inner{
        height: 620px;
    }
    .card-img-top{
        width: 215px;
    }
}

@media (max-width:426px) {
    .d-block{
        height: 250px;
    }
    .card{
        width: 70%;
        height: 90%;
        margin-left: 20%;
    }
    .card-img-top{
        height: 70%;
    }
    .card-text{
        font-size: 15px;
    }
}

.text-center{
	padding: 40px 0px 0px 0px;
}

ul{
	margin:0;
	list-style-type: none;
}


#filter-list{
	display: inline-block;
	border:1px solid #dddddd;
	border-radius: 30px;
	padding: 4px;
	margin:0 0 60px;
}
#filter-list li{
	display: inline-block;
	font-size: 16px;
	color: #888888;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	font-weight: 500;
	padding: 0 20px;
	min-width: 130px;
	cursor: pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;

}
#filter-list li.active,
#filter-list li:hover{
	background-color: #53bff0;
	color: #fff;
}
.gallery-outer{
	width: 100%;
	float: left;
	height: auto;
	padding: 0 1px;
}
.gallery-items li{
	width: 25%;
	float: left;
	padding: 0 1px 2px;
}
.gallery-items li img{
	width: 100%;
	height: auto;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.gallery-inner{
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.gallery-items li:hover img{
	-webkit-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}