.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.imgnav{
width: 100px;
height: 50px;
}
.sm-last{
    margin-right: -10px;
}
.row2{
    margin-left: 10px;
    width: 98%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 50px;
    width: 50px;
}
.carousel-control-prev{
    color: crimson;
}
@media (min-width:1000px) {
    .carousel-inner{
        height: 620px;
    }
    .card-img-top{
        width: 215px;
	}
	.sidebar-categories{
		margin-left: -100px;
		width: 300px;
	}
	.sidebar-filter{
		margin-left: -100px;
		width: 300px;
	}
}

@media (max-width:426px) {
    .d-block{
        height: 250px;
    }
    .card{
        width: 70%;
        height: 90%;
        margin-left: 20%;
    }
    .card-img-top{
        height: 70%;
    }
    .card-text{
        font-size: 15px;
    }
}

.text-center{
	padding: 40px 0px 0px 0px;
}

ul{
	margin:0;
	list-style-type: none;
}


#filter-list{
	display: inline-block;
	border:1px solid #dddddd;
	border-radius: 30px;
	padding: 4px;
	margin:0 0 60px;
}
#filter-list li{
	display: inline-block;
	font-size: 16px;
	color: #888888;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	font-weight: 500;
	padding: 0 20px;
	min-width: 130px;
	cursor: pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;

}
#filter-list li.active,
#filter-list li:hover{
	background-color: #53bff0;
	color: #fff;
}
.gallery-outer{
	width: 100%;
	float: left;
	height: auto;
	padding: 0 1px;
}
.gallery-items li{
	width: 25%;
	float: left;
	padding: 0 1px 2px;
}
.gallery-items li img{
	width: 100%;
	height: auto;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.gallery-inner{
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.gallery-items li:hover img{
	-webkit-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}

.sidebar-categories .head {
	line-height: 60px;
	background: #828bb3;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 400;
	color: #fff; }
.sidebar-categories .main-categories {
padding: 0 20px;
background: #fff;
box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1); }
.sidebar-categories .main-nav-list a {
font-size: 14px;
display: block;
line-height: 50px;
padding-left: 10px;
border-bottom: 1px solid #eee; }
.sidebar-categories .main-nav-list a:hover {
	color: #37e1ff; }
.sidebar-categories .main-nav-list a .number {
	color: #cccccc;
	margin-left: 10px; }
.sidebar-categories .main-nav-list a .lnr {
	margin-right: 10px;
	display: none; }
.sidebar-categories .main-nav-list.child a {
padding-left: 32px; }

.sidebar-filter {
margin-top: 50px; }
.sidebar-filter .top-filter-head {
	line-height: 60px;
	background: #828bb3;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 400;
	color: #fff; }
.sidebar-filter .head {
	line-height: 60px;
	padding: 0 30px;
	font-size: 14px;
	font-weight: 700;
	color: #222222;
	text-transform: uppercase;
	margin-top: 5px; }
.sidebar-filter .common-filter {
	border-bottom: 1px solid #eee;
	padding-bottom: 25px; }
	.sidebar-filter .common-filter .filter-list {
	position: relative;
	padding-left: 28px; }

.filter-list {
line-height: 30px; }
.filter-list i {
	margin-right: 10px;
	cursor: pointer; }
.filter-list .number {
	color: #ccc; }
.filter-list label {
	margin-bottom: 3px;
	cursor: pointer; }

.filter-bar {
padding: 0px 20px 10px 20px;
background: #828bb3; }
.filter-bar a, .filter-bar i {
	color: #000; }

.main-categories a {
color: #000; }

/* start product area css
============================================================================================ */
.active-product-area {
padding-top: 70px;
padding-bottom: 50px; }
.active-product-area .owl-nav div {
	position: absolute;
	left: 35%;
	top: 7%;
	opacity: .3; }
@media (max-width: 1440px) {
.active-product-area .owl-nav div {
	left: 30%; } }
@media (max-width: 1200px) {
.active-product-area .owl-nav div {
	left: 28%; } }
@media (max-width: 991px) {
.active-product-area .owl-nav div {
	top: 3%;
	left: 25%; } }
@media (max-width: 870px) {
.active-product-area .owl-nav div {
	left: 15%; } }
@media (max-width: 767px) {
.active-product-area .owl-nav div {
	left: 10%;
	top: 2%;
	margin-top: -25px; } }
@media (max-width: 570px) {
.active-product-area .owl-nav div {
	left: 37%;
	top: 1%;
	margin-top: -25px; } }
@media (max-width: 480px) {
.active-product-area .owl-nav div {
	margin-top: -20px;
	left: 28%; } }
.active-product-area .owl-nav div:hover {
	opacity: 1; }
.active-product-area .owl-nav .owl-next {
	left: auto;
	right: 35%; }
@media (max-width: 1440px) {
.active-product-area .owl-nav .owl-next {
	right: 30%; } }
@media (max-width: 1200px) {
.active-product-area .owl-nav .owl-next {
	right: 28%; } }
@media (max-width: 991px) {
.active-product-area .owl-nav .owl-next {
	top: 3%;
	right: 25%; } }
@media (max-width: 870px) {
.active-product-area .owl-nav .owl-next {
	right: 15%; } }
@media (max-width: 767px) {
.active-product-area .owl-nav .owl-next {
	right: 10%;
	top: 2%;
	margin-top: -25px; } }
@media (max-width: 570px) {
.active-product-area .owl-nav .owl-next {
	right: 37%;
	top: 1%;
	margin-top: -25px; } }
@media (max-width: 480px) {
.active-product-area .owl-nav .owl-next {
	margin-top: -20px;
	right: 28%; } }

.single-product {
margin-bottom: 50px;
border: 0.1px solid grey; }
.product-details{
	margin-left: 10px;
}
.single-product img {
	margin-bottom: 20px;
	width: 100%; }
.single-product .product-details h6 {
	font-size: 16px;
	text-transform: uppercase; }
.single-product .product-details .price h6 {
	font-size: 14px;
	display: inline-block;
	padding-right: 15px;
	margin: 0; }
.single-product .product-details .price .l-through {
	text-decoration: line-through;
	color: #cccccc;
	margin-bottom: 0; }
.single-product .product-details .prd-bottom {
	position: relative;
	margin-top: 20px; }
	.single-product .product-details .prd-bottom .social-info {
	position: relative;
	display: inline-block;
	width: 35px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	overflow: hidden; }
.single-product .product-details .prd-bottom .social-info span {
	position: relative;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background: #828bb2;
	border-radius: 50%;
	display: inline-block;
	color: #fff;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	z-index: 1; }
.single-product .product-details .prd-bottom .social-info span:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	z-index: -1; }
.single-product .product-details .prd-bottom .social-info .hover-text {
	position: absolute;
	left: 0;
	top: 3px;
	width: 100px;
	left: -40px;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #222222;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden; }
.single-product .product-details .prd-bottom .social-info:hover {
	width: 115px; }
	.single-product .product-details .prd-bottom .social-info:hover span:after {
	opacity: 1;
	visibility: visible; }
	.single-product .product-details .prd-bottom .social-info:hover .hover-text {
	opacity: 1;
	visibility: visible;
	left: 40px; }
  
  /* end product area css
  ============================================================================================ */

  
.list-wrapper {
	padding: 15px;
	overflow: hidden;
}

.list-item {
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.list-item h4 {
	color: #FF7182;
	font-size: 18px;
	margin: 0 0 5px;	
}

.list-item p {
	margin: 0;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #FF7182;
	border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #e04e60;
}
  