.iimg{
  height: 400px;
  width: 300px;
  border-radius: 5px;
  padding-bottom: 10px;
}

table {
  margin-left: 25px;
}
td, th {
  border: 0px solid #dddddd;
  padding: 10px;
}

/* NEW */
.iimgg{
  position: relative;
  border-radius: 10px;
  width: 190px;
  height: 250px;
  text-align: center;
  padding-bottom: 10px;
}
.imgnav{
  width: 100px;
  height: 50px;
}
/* NEW */
.row2{
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-lg{
  border-radius: 5px;
}
.details{
  text-align: left;
  width: 450px;
}
.strike{
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
}
.mimg{
  display: block;
}
.mrr{
  margin-left: 100px;
}
.sizes{
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  border: #dddddd;
}
.boxed label {
  margin-top: -10px;
  text-align: center;
  font-size: 12px;
  width: 40px;
  padding: 8px;
  border: solid 2px #ccc;
  transition: all 0.3s;
  border-radius:50%;
  font-weight: bold;
}

.boxed input[type="radio"] {
  text-align:center;
  display: none;
}

.boxed input[type="radio"]:checked + label {
  border: solid 2px rgb(201, 207, 201);
  background-color: rgb(179, 187, 179);
}
.hrr{
  margin-left: -15px;
}
.grids{
  margin-left: -15px;
}
#dis{
  color: orange;
}
h7{
  color: rgb(141, 141, 141);
}
#sub-title{
  color: rgb(141, 141, 141);
}
.fa-shopping-bag{
  padding-right: 10px;
  color: whitesmoke;
}
@media screen and (max-width:769px) {
  .tbl{
    max-width: 100%;
  text-align: center;
  }
  .iimg{
    margin-left: -10px;
    padding-bottom: 15px;
    height: 500px;
    width: 100%;
  }
  /* NEW */
  .iimgg{
    padding-bottom: 15px;
    margin-left: 30px;
  }
  .iimmgg{
    width: 400px;
    height: 500px;
  }
  table td {
      display: table-row;
  }
  .col-md-3{
    margin-left: 40px;
  }
  .col-md-6{
    margin-left: 40px;
  }
  .btn1{
    margin-bottom: 20px;
  }
  .mimg{
    font-weight: bold;
    display: none;
    text-align: center;
  }
  .details{
    width: auto;
  }
  .mrr{
    margin-left: 35px;
  }
  .boxed label {
    margin-top: -10px;
    text-align: center;
    font-size: 10px;
    width: 30px;
    padding: 5px;
    padding-top: 7px;
    border: solid 2px #ccc;
    transition: all 0.3s;
  }
}
@media screen and (max-width:376px){
  .iimg{
    height: 450px;
  }
}

@media screen and (max-width:321px){
  .iimg{
    height: 380px;
  }
}
#color{
  display: none;
}
.button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.button span {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 50%;
  margin-left: -80px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: ease .3s;
}

.orange .button span {
  background: #FF5722;
}

.amber .button span {
  background: #FFC107;
}

.lime .button span {
  background: #8BC34A;
}

.teal .button span {
  background: #009688;
}

.blue .button span {
  background: #2196F3;
}

.indigo .button span {
  background: #3F51B5;
}

input:checked~.button span {
  width: 40px;
  height: 40px;
}