.iimg{
  height: 400px;
  width: 300px;
  border-radius: 10px;
  padding-bottom: 10px;
}

table {
  margin-left: 25px;
}
td, th {
  border: 0px solid #dddddd;
  padding: 10px;
}

/* NEW */
.iimgg{
  position: relative;
  border-radius: 10px;
  width: 190px;
  height: 250px;
  text-align: center;
  padding-bottom: 10px;
}
/* NEW */
.row2{
  width: 100%;
  text-align: center;
  font-family: cursive;
}
.btn-lg{
  border-radius: 20px;
}
.details{
  text-align: left;
}
.strike{
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
}
.mimg{
  display: block;
}

@media screen and (max-width:769px) {
  .tbl{
    max-width: 100%;
  text-align: center;
  }
  .iimg{
    margin-left: -10px;
    padding-bottom: 15px;
    height: 400px;
  }
  /* NEW */
  .iimgg{
    padding-bottom: 15px;
    margin-left: 30px;
  }
  .iimmgg{
    width: 400px;
    height: 500px;
  }
  table td {
      display: table-row;
  }
  .col-md-3{
    margin-left: 40px;
  }
  .col-md-6{
    margin-left: 40px;
  }
  .btn1{
    margin-bottom: 20px;
  }
  .mimg{
    font-weight: bold;
    display: none;
    text-align: center;
  }
}
